<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="missaUser">
            <h2><span>Missa User</span> {{ missaUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Postal</span></dt>
                <dd>
                    <span>{{ missaUser.codePostal }}</span>
                </dd>
                <dt><span>Initiales</span></dt>
                <dd>
                    <span>{{ missaUser.initiales }}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ missaUser.nom }}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ missaUser.prenom }}</span>
                </dd>
                <dt><span>Mail</span></dt>
                <dd>
                    <span>{{ missaUser.mail }}</span>
                </dd>
                <dt><span>Etat</span></dt>
                <dd>
                    <span>{{ missaUser.etat }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ missaUser.userId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/missa-user', missaUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
