<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-meta-groupe-heading">Create or edit a Meta Groupe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_autoriteValidation">Autorite Validation</label>
                    <input type="checkbox" class="form-control" name="autoriteValidation" id="field_autoriteValidation"
                           formControlName="autoriteValidation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_membreParent">Membre Parent</label>
                    <select class="form-control" name="membreParent" formControlName="membreParent" id="field_membreParent">
                        <option value="DIFFUSION_UP">DIFFUSION_UP</option>
                        <option value="DIFFUSION_ALL">DIFFUSION_ALL</option>
                        <option value="NO_DIFFUSION">NO_DIFFUSION</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_visibilite">Visibilite</label>
                    <select class="form-control" name="visibilite" formControlName="visibilite" id="field_visibilite">
                        <option value="EXISTENCE_PUBLIC">EXISTENCE_PUBLIC</option>
                        <option value="VISIBILITE_PUBLIC">VISIBILITE_PUBLIC</option>
                        <option value="PRIVE">PRIVE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_droitEnvoiDeMail">Droit Envoi De Mail</label>
                    <input type="checkbox" class="form-control" name="droitEnvoiDeMail" id="field_droitEnvoiDeMail"
                           formControlName="droitEnvoiDeMail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_demandeDiffusionVerticale">Demande Diffusion Verticale</label>
                    <input type="checkbox" class="form-control" name="demandeDiffusionVerticale" id="field_demandeDiffusionVerticale"
                           formControlName="demandeDiffusionVerticale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_messagerieModeree">Messagerie Moderee</label>
                    <input type="checkbox" class="form-control" name="messagerieModeree" id="field_messagerieModeree"
                           formControlName="messagerieModeree"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_groupeFinal">Groupe Final</label>
                    <input type="checkbox" class="form-control" name="groupeFinal" id="field_groupeFinal"
                           formControlName="groupeFinal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateValidation">Date Validation</label>
                    <div class="d-flex">
                        <input id="field_dateValidation" type="datetime-local" class="form-control" name="dateValidation" formControlName="dateValidation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_detail">Detail</label>
                    <textarea class="form-control" name="detail" id="field_detail"
                              formControlName="detail"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" formControlName="parentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="metaGroupeOption.id" *ngFor="let metaGroupeOption of metagroupes; trackBy: trackById">{{ metaGroupeOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="typeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeMetaGroupeOption.id" *ngFor="let typeMetaGroupeOption of typemetagroupes; trackBy: trackById">{{ typeMetaGroupeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_reseau">Reseau</label>
                    <select class="form-control" id="field_reseau" name="reseau" formControlName="reseauId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reseauOption.id" *ngFor="let reseauOption of reseaus; trackBy: trackById">{{ reseauOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
